@CHARSET "EUC-KR";

.containBox{
	border:1px solid #D8D8D8;
	margin-left:12%;
	margin-right:12%;
	padding:40px;
}

.subtitle > a{
	 font-weight:bold;
}

.subtitle > #autionDaySelect > a{
	 font-weight:bold;
}

.subtitle{
	padding-top:5px;	
}

.subtitle > .tag > a{
	 font-weight:bold;
}

#editor{
	width:100%;
}

.tag > * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tag > #tag {
	width:200px;	
}

.tag > ul {
    padding: 16px 0;
}

.tag > ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    letter-spacing: -.5px;
}

.tag > form {
    padding-top: 16px;
}

.tag > ul li.tag-item {
    padding: 4px 8px;
    background-color: #777;
    color: #000;
}

.tag > .tag-item:hover {
    background-color: #262626;
    color: #fff;
}

.tag > .del-btn {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
}

#enroll{
	text-align:center;
	margin:10px;
	padding:10px;
	font-weight: 700;
    color: #848484;
    background: white;
    border:1px solid #848484;
    border-radius:20px;
}

#enroll:hover{
	 color: white;
     background: #848484;
     border-color: white;
}

#enrollTag{
	text-align:center;
	margin:10px;
	padding:5px;
    color: #848484;
    background: white;
    border:1px solid #848484;
}

#enrollTag:hover{
	 color: white;
     background: #848484;
     border-color: white;
}