@charset "UTF-8";

.center-flea {
	margin: 0 500px;
	max-width: 60%;
}

.row-left {
	display: -webkit-box;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	margin-top: 19px;
	width: 1095px;
}

#flea {
	padding-right: 4%;
	width: 97%;
	padding-left: 14%;
	padding-top: 1%;
}

.artist-area {
	text-align: center;
	width: 94%;
	height: 700px;
}

.addmember {
	text-align: right;
}

.addmember>a:link {
	color: #513926;
}

.addmember>a:visited {
	color: #513926;
}

.addmember>a:hover {
	color: #7F593C;
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: block;
	margin: 0px auto;
}

.big-profile-picture {
	width: 120px;
	height: 120px;
}

.profile-setting {
	margin-top: -5%;
	margin-left: 20%;
}

#img-full {
	width: 1000px;
	height: 300px;
}

.carousel {
	padding-left: 10px;
}

.profile-description .user_name {
	text-align: center;
}

.profile-description {
	font-size: 12px;
}

.border-row:before {
	content: '';
	display: block;
	width: 100%;
	height: 16px;
	border-top: 1px solid #d9d9d9;
	margin-top: 16px;
}

.artist-area .nav-links {
	margin-left: 2%;
	padding-left: 1%;
	border: 2px solid #555;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	width: 94%;
}

.user-name {
	margin-top: 16px;
	margin-bottom: 8px;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	word-break: break-word;
}

a.selected {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}

a.selected2 {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}

.messagepop {
	border: 1px solid #999999;
	cursor: default;
	display: none;
	position: absolute;
	text-align: left;
	width: 50%;
	z-index: 50;
	background: #fff;
	padding: 25px 25px 20px;
	margin: 100px auto;
	margin-left: 25%;
}

label {
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
	text-indent: -15px;
}

.messagepop p, .messagepop.div {
	border-bottom: 1px solid #EFEFEF;
	margin: 8px 0;
	padding-bottom: 8px;
}

.img_wrap {
	width: 300px;
	margin-top: 50px;
}

.img_wrap img {
	max-width: 100%;
}

#sale_price {
	color: #BDBDBD;
	font-size: medium;
	text-decoration: line-through;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.ui_title__txt {
	width: 103%;
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 2%;
	padding-left: 1%;
	border-bottom: 1px solid #d9d9d9;
	width: 203%;
}

dt {
	float: left;
	width: 50%;
}

dd {
	float: left;
	width: 50%;
}

layout-split:after {
	content: '';
	display: block;
	clear: both;
}

layout-split:after {
	content: '';
	display: block;
	clear: both;
}

#re {
	width: 50%
}

.ui_title__txt {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 24px;
	padding-bottom: 4px;
	padding-left: 2px;
	border-bottom: 1px solid #d9d9d9;
}

.list-def {
	font-size: 12px;
}

/*pop-header*/
#pop-header {
	width: 100%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	/*
	border-bottom : 1px solid #C1CEF3;
	*/
}

#pop-header>div {
	display: inline-block;
	width: initial;
	font-family: nanumEB;
	font-size: 1.5em;
}

#cardlist_section {
	width: 50%;
	padding: 2%;
}

/*pop-up*/
#user-add {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 150;
}

#pop-up {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 50%;
	position: relative;
}

/*chat-header*/
#chat-header {
	justify-content: space-between;
	align-items: center;
}

#chat-header>i {
	width: initial;
	height: initial;
	margin-right: 15px;
	color: #8da5ee;
	border-radius: 50%;
}

#chat-header>i:hover {
	color: #6780cc;
}

#pop-close {
	float: right;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

#pop-search>input[type=text] {
	padding: 5px;
	width: 70%;
	height: 30px;
	border: none;
	background-color: rgba(100, 100, 100, 0.1);
	border-radius: 5px;
}

#pop-search>input[type=button] {
	width: 50px;
	margin-left: 10px;
	border-radius: 20px;
	border: none;
	background-color: #B9C9F8;
}

#pop-search>input[type=button]:hover, #pop-footer>input:hover {
	background-color: #8da5ee;
}

#pop-search {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#pop-footer {
	display: flex;
	flex-flow: row-reverse;
	margin-top: 10px;
}

#pop-footer>input {
	border: none;
	width: 20%;
	height: 35px;
	border-radius: 5px;
	background-color: #B9C9F8;
}

.ui_card__img {
	position: relative;
	display: block;
	width: 85%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: transform .5s ease-in-out;
}

.ui_card__img, .ui_card__imgcover {
	overflow: hidden;
}

.ui_card, .ui_card--flex-orientation, .ui_card--side, .ui_card--white {
	overflow: hidden;
	position: relative;
	display: inline-block;
	background: #f8f9fb;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	font-size: 12px;
	box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, .3);
}

.ui_card--side .ui_card__imgcover {
	width: 40%;
}

.ui_card--side .ui_card__inner>* {
	display: table-cell;
	vertical-align: top;
}

.ui_card__img, .ui_card__imgcover {
	overflow: hidden;
}

.cardlist_section .split-cardlist .ui_card--side {
	width: 100%;
}

.ui_grid__item {
	width: 500px;
	margin-bottom: 12px;
	cursor: pointer;
	float: left;
	margin-right: 50px;
}

.ui_card__txtarea {
	padding: 15px;
}

.ui_card__inner {
	height: 166px;
	width: 507px;
}

.ui_btn--large {
	margin-left: 25%;
	width: 200px;
	font-size: 14px;
	line-height: 46px;
	box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, .3);
	font-weight: 400;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #d9d9d9;
	vertical-align: middle;
	transition: background-color .2s cubic-bezier(.075, .82, .165, 1);
	transition: border-color .2s cubic-bezier(.075, .82, .165, 1);
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

.layout-split.half>*:first-child {
	margin-left: 0;
}

.layout-split.half>* {
	width: 48%;
	margin-left: 4%;
	float: left;
}

.cardlist_section .split-cardlist .ui_card--side {
	width: 100%;
}

.cardlist_section .split-cardlist .ui_card--side {
	width: 100%;
}

.card-style.story .bordering {
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 12px;
	-webkit-transition: border-color 0.3s ease;
	-o-transition: border-color 0.3s ease;
	-moz-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
	-webkit-box-shadow: 0 1px 3px 0 rgba(220, 220, 220, 0.3);
	-moz-box-shadow: 0 1px 3px 0 rgba(220, 220, 220, 0.3);
	box-shadow: 0 1px 3px 0 rgba(220, 220, 220, 0.3);
}

.card-style .area-rating {
	overflow: hidden;
	padding-bottom: 16px;
	margin-bottom: 16px !important;
	border-bottom: 1px solid #d9d9d9;
}

.masonry-grid .card-style.story .desc {
	display: block;
	height: auto;
	overflow: hidden;
	-o-text-overflow: initial;
	text-overflow: initial;
	max-height: 170px;
}

.deal_buy_review {
	position: relative;
	padding: 30px 0 30px 58px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
}

.first-part {
	width: 200%;
}

.review_btn_area {
	width: 160px;
	position: absolute;
	top: 50%;
	right: 45px;
	margin-top: -25px;
	font-size: 16px;
	padding: 0 24px;
	line-height: 46px;
	border-color: transparent;
	background: #4c4646;
	color: #fff;
	border-radius: 3px;
	text-align: center;
}

.btns_sys.red_big_d {
	background-position: 100% -729px;
	line-height: 48px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.rv_count {
	display: inline-block;
	margin: 4px 0 0 5px;
	font-size: 14px;
	line-height: 17px;
	color: #999;
	font-family: tahoma;
	vertical-align: top;
}

.list_type>li {
	position: relative;
	padding-left: 6px;
	color: #999;
}

.desc_cont .title_area.clear .total-sort span {
	cursor: pointer;
}

.title_area .sort {
	float: right;
}

.desc_cont .title_area.clear .sort .selbox_comm {
	width: 86px;
}

.selbox_comm.v2 {
	height: 30px;
	padding: 4px 12px 0px 14px;
}

.selbox_comm {
	float: left;
	position: relative;
	z-index: 10;
	width: auto;
	height: 36px;
	padding: 0 12px 0 8px;
	border: 1px solid #ddd;
	background-color: #fff;
}

}
.desc_cont .title_area.clear {
	min-height: 32px;
	margin-bottom: 15px;
}

.content_main .selbox_comm.on .btn_option:after, .ui-dialog .selbox_comm.on .btn_option:after
	{
	background-position: -190px -139px;
}

.selbox_comm.v2 .list_option a {
	line-height: 19px;
	padding-top: 2px;
}

.selbox_comm .list_option a {
	display: block;
	line-height: 34px;
	padding-top: 2px;
	color: #666;
	text-decoration: none;
	text-indent: 0px;
}

#prod_story_text {
	width: 100%;
	height: 140px;
}

textarea {
	overflow: auto;
	resize: vertical;
}

#buy, #bidding {
	font-size: 16px;
	padding: 0 24px;
	line-height: 46px;
	border-color: transparent;
	background: #dd5850;
	color: #fff;
}

#cart {
	font-size: 16px;
	padding: 0 24px;
	line-height: 46px;
	border-color: #dd5850;
	background: #fff;
	color: #dd5850;
}

.prod_story_wrap {
	width: 98%;
	background: #f9f9f9;
	margin-top: 2%;
	border: 1px solid #ddd;
	padding: 30px 29px;
}

.btn_area {
	text-align: center;
}

#paging {
	text-align: center;
	margin-top: 15px;
}

#paging>a {
	padding-right: 5px;
	cursor: pointer;
}

.boardering {
	float: left;
}