@charset "UTF-8";
.center-flea {
	margin: 0 500px;
	max-width: 60%;
}

.row-left {
	display: -webkit-box;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	margin-top: 19px;
	width: 1095px;
}

.artist-area {
	text-align: center;
	width: 30%;
	height: 700px;
	border-right: 1px solid #d9d9d9;
}

.addmember {
	text-align: right;
}

.addmember>a:link {
	color: #513926;
}

.addmember>a:visited {
	color: #513926;
}

.addmember>a:hover {
	color: #7F593C;
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: block;
	margin: 0px auto;
}

.big-profile-picture {
	width: 120px;
	height: 120px;
}

.profile-setting {
	margin-top: -5%;
	margin-left: 20%;
}

#img-full {
	width: 1000px;
	height: 300px;
}

.carousel {
	padding-left: 10px;
}

.profile-description .user_name {
	text-align: center;
}

.profile-description {
	font-size: 12px;
}

.border-row:before {
	content: '';
	display: block;
	width: 100%;
	height: 16px;
	border-top: 1px solid #d9d9d9;
	margin-top: 16px;
}

.artist-area .nav-links {
	margin-left: 2%;
	padding-left: 1%;
	border: 2px solid #555;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	width: 94%;
}


.user-name {
	margin-top: 16px;
	margin-bottom: 8px;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	word-break: break-word;
}

a.selected {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}

a.selected2 {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}

.messagepop {
	border: 1px solid #999999;
	cursor: default;
	display: none;
	position: absolute;
	text-align: left;
	width: 50%;
	z-index: 50;
	background: #fff;
	padding: 25px 25px 20px;
	margin: 100px auto;
	margin-left: 25%;
}

label {
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
	text-indent: -15px;
}

.messagepop p, .messagepop.div {
	border-bottom: 1px solid #EFEFEF;
	margin: 8px 0;
	padding-bottom: 8px;
}

.img_wrap {
	width: 300px;
	margin-top: 50px;
}

.img_wrap img {
	max-width: 100%;
}

#sale_price {
	color: #BDBDBD;
	font-size: medium;
	text-decoration: line-through;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.ui_title__txt {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 24px;
	padding-bottom: 4px;
	padding-left: 2px;
	border-bottom: 1px solid #d9d9d9;
}

dt {
	float: left;
	width: 50%;
}

dd {
	float: left;
	width: 50%;
}

layout-split:after {
	content: '';
	display: block;
	clear: both;
}

layout-split:after {
	content: '';
	display: block;
	clear: both;
}

#re{
	width:50%
	
}

.cardlist_section .split-cardlist .ui_card--side {
	width: 97%;
}

.ui_title__txt {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 24px;
	padding-bottom: 4px;
	padding-left: 2px;
	border-bottom: 1px solid #d9d9d9;
}

.cardlist_section .split-cardlist .ui_card--side {
	width: 100%;
}

.list-def {
	font-size: 12px;
}

/*pop-header*/
#pop-header {
	width: 100%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	/*
	border-bottom : 1px solid #C1CEF3;
	*/
}

#pop-header>div {
	display: inline-block;
	width: initial;
	font-family: nanumEB;
	font-size: 1.5em;
}

/*pop-up*/
#user-add {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 150;
}

#pop-up {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 50%;
	position: relative;
}

/*chat-header*/
#chat-header {
	justify-content: space-between;
	align-items: center;
}

#chat-header>i {
	width: initial;
	height: initial;
	margin-right: 15px;
	color: #8da5ee;
	border-radius: 50%;
}

#chat-header>i:hover {
	color: #6780cc;
}

#pop-close {
	float: right;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

#pop-search>input[type=text] {
	padding: 5px;
	width: 70%;
	height: 30px;
	border: none;
	background-color: rgba(100, 100, 100, 0.1);
	border-radius: 5px;
}

#pop-search>input[type=button] {
	width: 50px;
	margin-left: 10px;
	border-radius: 20px;
	border: none;
	background-color: #B9C9F8;
}

#pop-search>input[type=button]:hover, #pop-footer>input:hover {
	background-color: #8da5ee;
}

#pop-search {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#pop-footer {
	display: flex;
	flex-flow: row-reverse;
	margin-top: 10px;
}

#pop-footer>input {
	border: none;
	width: 20%;
	height: 35px;
	border-radius: 5px;
	background-color: #B9C9F8;
}

.ui_card__img {
	position: relative;
	display: block;
	width: 85%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: transform .5s ease-in-out;
}

.ui_card__img, .ui_card__imgcover {
	overflow: hidden;
}

.ui_card, .ui_card--flex-orientation, .ui_card--side, .ui_card--white {
	overflow: hidden;
	position: relative;
	display: inline-block;
	background: #f8f9fb;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	font-size: 12px;
	box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, .3);
}

.ui_card--side .ui_card__imgcover {
	width: 40%;
}

.ui_card--side .ui_card__inner>* {
	display: table-cell;
	vertical-align: top;
}

.ui_card__img, .ui_card__imgcover {
	overflow: hidden;
}

.cardlist_section .split-cardlist .ui_card--side {
	width: 100%;
}

.ui_grid__item {
	width: 500px;
	margin-bottom: 12px;
	cursor: pointer;
	float: left;
	margin-right: 50px;
}

.ui_card__txtarea {
	padding: 15px;
}

.ui_card__inner {
	height: 135px;
	width: 390px;
}

.ui_btn--large {
	margin-left: 25%;
	width: 200px;
	font-size: 14px;
	line-height: 46px;
	box-shadow: 0 1px 3px 0 hsla(0, 0%, 86.3%, .3);
	font-weight: 400;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #d9d9d9;
	vertical-align: middle;
	transition: background-color .2s cubic-bezier(.075, .82, .165, 1);
	transition: border-color .2s cubic-bezier(.075, .82, .165, 1);
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
